{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %} Home {% endblock title %}

{% block content %}
<div class="row m-2">
    <div class="col-lg-8">
      <div class="row">
        <h3 class="text-primary">{{ assignment.title }}</h3>
        <div class="dropdown no-arrow ml-auto">
          <a class="btn btn-circle dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-ellipsis-v fa-sm fa-fw text-dark"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
            <div class="dropdown-header">Dropdown Header:</div>
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <p class="text-muted">{{ assignment.created_by.username }} {{ assignment.created_at }}</p>
      <div class="row">
        <p class="text-dark font-weight-bold">20 points</p>
        <p class="ml-auto text-dark font-weight-bold">Due Nov 10, 11:59pm</p>
      </div>
      <hr>
      <p>{{ assignment.description }}</p>
    </div>

    <!-- The Submit cards -->
    <div class="col-lg-4">
      <div class="card p-4 m-3 shadow">
        <div class="row">
          <h4 class="text-primary">Your Work</h4>
              {% if submitted_assignment %}
                {% if submitted_assignment.turned_in %}
                <p class="ml-auto text-success">
                    Assigned
                </p>
                {% else %}
                <p class="ml-auto text-success">
                    Turn in
                </p>
                {% endif %}
              {% else %}
                <p class="ml-auto text-success">
                    Assigned
                </p>
              {% endif %}

        </div>

        {% if submitted_assignment %}
            {% if assignment_files %}
                <p>Submitted files</p>
                {% for file in assignment_files %}
                    <p>{{ file.files.name }}</p>
                {% endfor %}
            {% endif %}
            {% if not submitted_assignment.turned_in %}
                <form action="{% url 'classroom:assignment_submit' assignment.pk %}" method="post" enctype='multipart/form-data'>
                  {% csrf_token %}
                  {{ form | crispy }}
                  <button type="submit" class="btn btn-outline-dark btn-block">
                      <i class="fa fa-plus" aria-hidden="true"></i> Add or create
                  </button>
                </form>
                <form action="{% url 'classroom:turnin' assignment.pk %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="btn btn-primary btn-block">Mark as done</button>
                </form>
            {% else %}
                <button class="btn btn-outline-dark btn-block">
                    Unsubmit
                </button>
            {% endif %}
        {% else %}
            <form action="{% url 'classroom:assignment_submit' assignment.pk %}" method="post"  enctype='multipart/form-data'>
                {% csrf_token %}
                {{ form | crispy }}
                <button type="submit" class="btn btn-outline-dark btn-block">
                    <i class="fa fa-plus" aria-hidden="true"></i> Add or create
                </button>
            </form>
            <form action="{% url 'classroom:turnin' assignment.pk %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary btn-block">Mark as done</button>
            </form>
        {% endif %}

      </div>

      <div class="card p-1 m-3 shadow">
        <div class="input-group mb-3 mt-3">
          <img src="img/image1.jpg" width="35" height="35" alt="..." class="rounded-circle ml-2 mr-2">
          <input type="text" class="form-control rounded-pill" placeholder="Add a class comment..." aria-label="Recipient's username" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class=" btn btn-circle" type="button" id="button-addon2"><i class="fas fa-angle-double-right"></i></button>
          </div>
        </div>

    </div>
</div>
{% endblock content %}