{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block title %} View Grades {% endblock title %}

{% block content %}

<div class="card  bg-white border-0">
    <div class="card-body">
        <h5 class="card-title">{{ assignment.title }}</h5>
        <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th>Username</th>
                <th>
                        Out Of {{ assignment.marks }}
                        <a class="btn btn-circle float-right" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-dark"></i>
                        </a>			
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                        </div>
                </th>
                <th>
                    View
                </th>
            </tr>
            </thead>

            <tbody>
                {% for submitted_assignment in submitted_assignments %}
                <tr>
                    <td>{{ submitted_assignment.user.username }}</td>
                    <td>
                        {% if submitted_assignment.is_reviewed %}
                            {{ submitted_assignment.grade }}
                        {% else %}
                            Ungraded
                        {% endif %}
                        </td>
                    <td><a class="stretched-link" href="{% url 'assignments:grade' submitted_assignment.pk %}">View</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
</div>
{% endblock content %}