{% extends 'user_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %} Login {% endblock title %}

{% block content %}
<!-- Outer Row -->
<div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

    <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-1">
        <div class="alert alert-info">
        An email has been sent with instructions to reset your password !
        </div>
        <div class="row">
            <a href="{% url 'users:login' %}" class="btn btn-outline-primary ml-auto mr-1">Login</a>
            <a href="{% url 'users:register' %}" class="btn btn-outline-primary mr-auto ml-1">Register</a>
        </div>
    </div>
    </div>

</div>

</div>
{% endblock content %}
